/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    min-height: 100%;
    height: auto;
    background-color: #aaaaaa;
}

body {
    min-height: 100%;
    height: auto;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 70em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(12, 12, 12, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
    bottom: 0px;
}

.left-panel {
    border: 1px solid #333333;
}

.right-panel {
    border: 1px solid #333333;
}

.stretch-height {
    height: 90%;
}

.list-element {
    padding: 0 5px 0 5px;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    /*-webkit-transition: 1s;*/
    /*-moz-transition: 1s;*/
    /*-ms-transition: 1s;*/
    /*-o-transition: 1s;*/
    transition: 1s;
}

.list-element:hover {
    box-shadow: inset 0 0 5rem rgba(50, 50, 50, .5);
}

.class-table-header {
    font-size: 25px;
    color: #111111;
}

.thead {
    background-color: cornflowerblue;
    border: 1px solid #555555;
}

.class-table-row {
    padding: 0;
    margin: 0;
}

.class-table-row:nth-child(odd) {
    background-color: rgba(107, 160, 255, 0.75);
}

.class-table-row:nth-child(even) {
    background-color: rgba(107, 160, 255, 0.50);
}

.form-div {
    width: 80%;
    margin: auto;
}

.row-label {
    padding: 6px;
    min-height: 16px;
}

.row-label-desc {
    min-height: 48px;
}

.header-row {
    background: cornflowerblue;
}

.data-row:nth-child(odd) {
    background-color: #aaaaaa;
}

.data-row:nth-child(even) {
    background-color: papayawhip;
}

.font-black {
    color: #111111;
}